* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;

    --color-background-elevated: hsla(0,0%,100%,1);
    --color-background-primary: hsla(0,0%,100%,1);
    --color-background-quaternary: hsla(0,0%,78.04%,1);
    --color-background-secondary: hsla(0,0%,97.26%,1);
    --color-background-tertiary: hsla(0,0%,92.16%,1);
    --color-background-inversePrimary: hsla(0,0%,7.06%,1);
    --color-background-inverseSecondary: hsla(0,0%,21.18%,1);
    --color-background-overlay: hsla(0,0%,7.06%,0.58);
    --color-content-primary: hsla(0,0%,7.06%,1);
    --color-content-quaternary: hsla(0,0%,44.71%,1);
    --color-content-quintary: hsla(0,0%,54.51%,1);
    --color-content-secondary: hsla(0,0%,21.18%,1);
    --color-content-tertiary: hsla(0,0%,35.3%,1);
    --color-content-inversePrimary: hsla(0,0%,100%,1);
    --color-overlay-black: hsla(0,0%,0%,1);
    --color-signal-accent: hsla(215.28,72.23%,50.59%,1);
    --color-signal-breaking: hsla(352.72,98.1%,41.18%,1);
    --color-signal-developing: hsla(20.19,91.67%,47.06%,1);
    --color-signal-editorial: hsla(205.9,48.72%,38.24%,1);
    --color-signal-highlight: hsla(54.67,95.75%,90.79%,1);
    --color-signal-negative: hsla(354.29,98.83%,33.34%,1);
    --color-signal-positive: hsla(126.98,53.09%,31.77%,1);
    --color-stroke-primary: hsla(0,0%,7.06%,1);
    --color-stroke-quaternary: hsla(0,0%,87.46%,1);
    --color-stroke-secondary: hsla(0,0%,54.51%,1);
    --color-stroke-tertiary: hsla(0,0%,78.04%,1);
    --color-stroke-inversePrimary: hsla(0,0%,100%,1);
    --color-static-white: hsla(0,0%,100%,1);
    --color-static-gray100: hsla(0,0%,0%,1);
}

body {
  width: 103.591rem;
}


/* Start css border for adjustments*/
.up {
    border: 2px solid yellow;
    }

 .medium {
  border: 2px solid blue;
 }

 .bottom {
  border: 2px solid green;
  padding:;
 }
.div-header {
  border: 2px solid black;
  display: flex;
}
/* Finish css border for adjustments*/



 li {
    display: block;    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;    
}

.div-header-top-right {
 display: flex;
 justify-content: space-around; 
 align-items: center;
}

.css-bars-navigation-button, img .css-bars-navigation-button, img
{
 width: 16px;
 height: 16px;
}

button {
  width: 34px;
  height: 34px;
}

.subscribe, .login {
  font-size: 1.1rem;
}

.header-medium {
 width: 100%;
 height: 5.8rem;
 
}


.section-header-top {
  display: grid;
  grid-template-areas:
  "A B C"; 
}

/* 
}

.section-header-top div:nth-child(2)  {
  grid-area: B;
}

.section-header-top div:nth-child(3)  {
  grid-area: C;
} */

/* .header-top-large {
  display: grid;

} */

ul, li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

}


.div-header-medium {
  display: grid;
  grid-template-areas:
  "A B C"
  "A B C"; 
}

.one div:nth-child(1)  {
  grid-template-areas: A;
}

.svg div:nth-child(2) {
  grid-template-areas: B;
}

.two div:nth-child(2) {
  grid-template-areas: B;
}

.a div:nth-child(2) {
  grid-template-areas: B;
}

.three div:nth-child(3){
  grid-template-areas: C;
}

.middle-left-page {
  display: flex;
}